@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To Coding</h1>
</div>
<div class="main-page-card">
    <video class="video-player" src="~/resources/videos/Coding_Sucks.mp4" controls></video>
    <h1 class="video-title">Introduction: Why A Job In Programming Is Hell</h1>
</div>
