@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p></p>
<p></p>
<p>
    This webpage is completely GDPR compliant. This is so, due to the fact that most
    of its core functionality is not implemented yet. It has no login feature, doesn't
    store any user data, and doesn't even have cookies. Frankly, I'm surprised that it
    doesn't fall apart.
</p>
<p></p>
<p>
    So rest assured, your data will not be stolen and sold to North Korea, for the simple
    reason that I don't have the slightest clue of who you are.
</p>
<p></p>
<p>
    Chill, watch videos and learn. God knows, you will need this if you ever want to achieve
    anything in coding...
</p>