@{
    ViewData["Title"] = "Videos";
}

<div class="text-center">
    <h1>Welcome To Coding</h1>
</div>
<div class="videos-page-card">
    @for (var i = 1; i <= 20; i++)
    {
        <div class="video-thumbnail-card">
            <img class="thumbnail" src="~/resources/thumbnails/Coding_Sucks_Thumbnail.png" controls>
            <h5 class="thumbnail-title">Introduction: Why A Job In Programming Is Hell</h5>
        </div>
    }
</div>
